.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result {
  height: 60px;
  background-color: #411800;
  width: 100%;
  width:498px;
  border: 1px solid #b4021b;
}

.result p {
  font-size: 40px;
  margin: 5px;
  text-align:right;

}

.calculator-body {
  max-width: 400px;
  margin: auto;
  width:500px;
}

.button {
  display: block;
  background-color: #bbb;
  width:500px;
}

button {
  width: 25%;
  height: 60px;
  font-size: 25px;
  border: 0.5px solid #f81a57;
}

button.buttona {
    width: 75%;
    color: #555;
    font-weight: 400;
}

button.b {
    font-size: 25px;
    background: #8f0c3c;
    color: #fff;
}